*{
    background-color: lightgreen;
    padding: 10px;
    border: solid black 3px;
}

.box{
    margin: 20px;
}
#div1{
    background-color: lightyellow;
}
#div2{
    background-color: lightskyblue;
}
#div3{
    background-color: lightpink;
}